################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RainfallReading.Service/bin/Debug/net6.0
/RainfallReading.Service/obj
/.vs/RainfallReading.Integration
/RainfallReading.Model
/RainfallReading.Api/bin/Debug/net6.0
/RainfallReading.Api/obj
/RainfallReading.Api/RainfallReading.Api.csproj.user
/RainfallReading.Test/bin/Debug/net6.0
/RainfallReading.Test/obj
